.btn {
  width: 100%;
  padding: 0;
  background-color: var(--color-green-400);
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
}

.btn:focus {
  padding: 0;
}

.btn:hover {
  background-color: var(--color-green-500);
}

.btn:active {
  background-color: var(--color-green-200);
  outline: 1px solid var(--color-green-200);
}