:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green-bg: #ddffe3;
  --color-green-100: #b3ffc3;
  --color-green-200: #72ff89;
  --color-green-300: #5bff8c;
  --color-green-400: #2de254;
  --color-green-500: #18f323;
  --color-gray-bg: #eeeeee;
  --color-gray-100: #cccccc;
  --color-gray-200: #999999;
  --color-gray-300: #666666;
  --container-width: 1000px;
  --font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLL */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-green-400) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-green-400);
  border-radius: 2px;
  border: 1px solid transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: overlay;
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
  background-color: var(--color-green-bg);
}

.blur-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  filter: blur(10px);
  transition: 0.3s;
  padding: 10px 0;
}

.no-blur {
  filter: none;
}